<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Verify Vinted Account</title>
</head>
<body>
    <div id="auth-app-content">
        <div class="header">
            <div class="header-left">
                <button id="logout-btn-verify" class="btn-secondary">Logout</button>
            </div>
            <div class="header-center">
                 <h3>Verify Vinted Account</h3>
            </div>
            <div class="header-right">
                <button id="close-btn-verify-account" class="btn-secondary">
                    <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 11L11 1" stroke="#595959" stroke-width="1.5" stroke-linecap="round"/>
                        <path d="M1 1L11 11" stroke="#595959" stroke-width="1.5" stroke-linecap="round"/>
                    </svg>
                </button>
            </div>
        </div>
        <div class="content-body">
            <p>To start using the app, please navigate to your Vinted profile page and click the button below.</p>
            <p class="small-text">This ensures you can only use one Vinted account with your free trial.</p>
            <button id="link-account-btn" class="btn-primary">Link My Vinted Account</button>
            <p id="verify-message-box" class="feedback" style="display: none;"></p>
        </div>
    </div>
</body>
</html>